<% current_conference = Rails.application.secrets.dig(:uclg, :conferences).find { |conference| conference[:slug] == current_participatory_space.slug } %>
<% current_settings = meeting_component.settings %>

<% if current_conference && current_conference[:page_background] %>
  <% content_for(:js_content) do %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const element = document.querySelector("main");
        if (element) {
          element.classList.add("program-background", "a");
          element.style.backgroundImage = "url(<%= asset_pack_path current_conference[:page_background] %>)";
        }
      });
    </script>
  <% end %>
<% end %>

<%
if respond_to?(:meeting_component) && meeting_component
  edit_link(
    manage_component_path(meeting_component),
    :read,
    :component,
    component: meeting_component,
    current_participatory_space:
  )
end
%>

<% if translated_attribute(current_settings.announcement).present? %>
  <%= cell("decidim/announcement", { announcement: translated_attribute(current_settings.announcement) } ) %>
<% end %>

<% add_decidim_meta_tags(title: t("conference_program.index.title", scope: "decidim")) %>

<%# NOTE: this page does not use a regular layout %>
<main class="container">
  <% if current_conference && current_conference[:soundcloud_url] %>
    <div class="mt-12">
      <div class="callout primary">
        <p>
          <%= t("uclg.soundcloud.play_info") %>
        </p>
        <div class="soundcloud text-center mt-4">
          <%= link_to t("uclg.soundcloud.play"), "#soundcloudEmbed", class: "button button__sm button__transparent_secondary" %>
        </div>
      </div>
    </div>
  <% end %>

  <h1 class="title-decorator my-12">
    <span class="not-sr-only"><%= t(".program") %></span>
    <span class="sr-only"><%= t(".program") %> (<%= translated_attribute current_participatory_space.title %>)</span>
  </h1>

  <div data-component="accordion" data-multiselectable="false" data-collapsible="false">
    <% if meeting_days.any? %>
      <ul class="conference__program-selector">
        <% meeting_days.each_with_index do |day, i| %>
          <li>
            <button id="conference-trigger<%= i %>" class="button button__sm md:button__lg button__transparent-secondary" data-controls="conference-panel<%= i %>" data-open="<%= "true" if i.zero? %>">
              <%= l day, format: :decidim_with_day_and_month_name %>
            </button>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% meeting_days.each_with_index do |day, i| %>
      <div id="conference-panel<%= i %>" class="conference__program" data-conference-program-day>
        <% meetings_for_day(meeting_component, day, current_user).each do |meeting_days, meetings| %>
          <%= render partial: "program_item", locals: { start_time: meeting_days[:start_time], end_time: meeting_days[:end_time], meetings: meetings.pluck(:meeting) } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if current_conference && current_conference[:soundcloud_url] %>
    <div class="section mb-12">
      <%= render partial: "uclg/soundcloud_embed", locals: { src: current_conference[:soundcloud_url] } %>
    </div>
  <% end %>
</main>
